In [16]:
import pandas as pd
import seaborn as sns
import numpy as np

In [30]:
df = pd.read_csv('acled_data.csv').query('region != "Antarctica"')

In [34]:
# split the dataset into multiple csvs based on index. 
# write 100,000 rows per csv and dont write the index
# save to the 'data' folder, and name the files 'data_1.csv', 'data_2.csv', etc.

for i, chunk in enumerate(np.array_split(df, len(df) // 40_000)):
    chunk.to_csv(f'data/data_{i}.csv', index=False)
    print(f'Wrote data/data_{i}.csv')

/Users/jonathanferrari/Library/Python/3.13/lib/python/site-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Wrote data/data_0.csv
Wrote data/data_1.csv
Wrote data/data_2.csv
Wrote data/data_3.csv
Wrote data/data_4.csv
Wrote data/data_5.csv
Wrote data/data_6.csv
Wrote data/data_7.csv
Wrote data/data_8.csv
Wrote data/data_9.csv
Wrote data/data_10.csv
Wrote data/data_11.csv
Wrote data/data_12.csv
Wrote data/data_13.csv
Wrote data/data_14.csv
Wrote data/data_15.csv
Wrote data/data_16.csv
Wrote data/data_17.csv
Wrote data/data_18.csv
Wrote data/data_19.csv
Wrote data/data_20.csv
Wrote data/data_21.csv
Wrote data/data_22.csv
Wrote data/data_23.csv
Wrote data/data_24.csv
Wrote data/data_25.csv
Wrote data/data_26.csv
Wrote data/data_27.csv
Wrote data/data_28.csv
Wrote data/data_29.csv
Wrote data/data_30.csv
Wrote data/data_31.csv
Wrote data/data_32.csv
Wrote data/data_33.csv
Wrote data/data_34.csv
Wrote data/data_35.csv
Wrote data/data_36.csv
Wrote data/data_37.csv
Wrote data/data_38.csv
Wrote data/data_39.csv
Wrote data/data_40.csv
Wrote data/data_41.csv
Wrote data/data_42.csv
Wrote data/data_43.csv
Wrote data/data_44.csv
Wrote data/data_45.csv
Wrote data/data_46.csv
Wrote data/data_47.csv
Wrote data/data_48.csv
Wrote data/data_49.csv
Wrote data/data_50.csv
Wrote data/data_51.csv
Wrote data/data_52.csv
Wrote data/data_53.csv
Wrote data/data_54.csv
Wrote data/data_55.csv
Wrote data/data_56.csv
Wrote data/data_57.csv

Empty DataFrame
Columns: [event_id_cnty, event_date, year, time_precision, disorder_type, event_type, sub_event_type, actor1, assoc_actor_1, inter1, actor2, assoc_actor_2, inter2, interaction, civilian_targeting, iso, region, country, admin1, admin2, admin3, location, latitude, longitude, geo_precision, source, source_scale, notes, fatalities, tags, timestamp]
Index: []

[0 rows x 31 columns]